ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:ghostwhite;
    width:fit-content;
  }
  
  li {
    float: left;
    margin-right: 0.1em;
    margin: 0.1em;
  }
  
  li app-category {
    
      display: block;
      color: black;
      text-align: center;
      padding: 1.1em;
      margin-right: 1.1em;
      text-decoration: none;
      margin-top: -2em;
      margin-bottom: -2.05em;
      /* margin-right: 0.1em; */
      /* margin: -0.91em; */
  }
  

  app-category {
    margin: 1.1em;
    padding: -1em;
}
  
  li a:hover {
    background-color: #111111;
  }