ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.list-md {
  margin-left: 0;
  margin-right: 0;
  margin-top: 34em;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 26px;
  padding-bottom: 8px;
  background: var(--ion-item-background, var(--ion-background-color, #fff));
}