<ion-list>
 
<ion-item-sliding 
*ngFor="let item of itemsList; let i=index"
#sliding_item >
<ion-item>
<app-items-host [item]="item" [itemComponent]="itemComponent"></app-items-host>
</ion-item>
<ion-item-options side="start">
  <ion-button
  danger
    color="danger"
    (click)="deleteItem(item,sliding_item, i)"
  >
    <ion-icon name="trash"></ion-icon>
    Elimina
  </ion-button>
  </ion-item-options>
  <ion-item-options side="end">
<ion-button
(click)="editItem(item,sliding_item,i)"
>
    <ion-icon name="eye" ></ion-icon>
    Edit
    </ion-button>
  </ion-item-options>
</ion-item-sliding>
  <ion-fab mini slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button size="small">
      <ion-icon name="add" (click)="create()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </ion-list>